body a {
  cursor: pointer;
}
h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: underline;
  color: blue;
}

/*
=====================
Testing Tools
=====================
*/
.test-border-one {
  border: 1px solid black;
  border-radius: 2%;
}

.test-border-two {
  border: 1px dashed blue;
}

.bg-red {
  background-color: red;
}

/*
=====================
Font
=====================
*/

.section-title {
  text-align: center;
  padding: 7.5px 0 10px 0;
}

.margin {
    margin: 10px 0 0 10px;
}

.zero-margin {
  margin: 0;
}

/*
=====================
Tweet Timeline Section
=====================
*/
.tweet-timeline-title {
  background-color: royalblue;
  color: white;
  border: 4px solid darkslategray;
  border-bottom: none;
}

.outer-tweet-container {
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding: 3.5px;
}

.inner-tweet-container p {
  color: #FFFFFF;
  padding: 3px;
}

a.tweet-handle {
   margin: 0;
   padding-left: 10px;
 }

 .hash-handle {
   margin: 0;
 }

 .section-container {
   border: 1px solid darkslategrey;
   border-radius: 2%;
 }

 .tweet-timeline-message {
  display: inline-block;
  margin: 0;
}

/*-The 11th Tweet-*/
#otc11 {
  background-color: lightslategrey !important;
}
#itc11 {
  background-color: rgba(0, 0, 0, 0.2) !important;
  text-align: center;
}

#itc11 p, #itc11 a {
  font-size: 12px;
  color:lightgrey;
  display: inline-block;
}

#itc11 .tweet-time {
  font-size: 10px;
  padding-left: 5px;
}


/*
=====================
 Sorted Section
=====================
 */

 .sorted-timeline {
   display: none;
 }

 .sortedNameDeclarations {
  display: none;
  border-top: 1px solid black;
}

.sorted-individual-tweet-container p {
  display: inline-block;
}

.current-tweet-stack {
  margin-bottom: 20px;
}

.sorted-individual-tweet-container p.tweet-time {
  text-decoration: underline;
  font-style: italic;
}

.sorted-individual-tweet-container p.sorted-tweet-list-li {
  margin-left: 5px;
}

.sorted-timeline {
  margin-top: 20px;
  border: 1px solid black;
}

.sorted-tweet-list-li {
  font-style: italic;
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  border: 1px solid black;
}

/*Tweet Timeline and Sorted Timeline Date Styling*/
.inner-tweet-container .tweet-time, .tweet-time {
  font-size: 12px;
  padding-left: 25px;
}

/*
=====================
Hashtag Section
=====================
*/

.hashtag-tweets-container {
  display: none;
}

.hashhtag-deck {
  border: 1px solid black;
}

.current-hashtag-stack {
  border: 1px solid black;
}

.hashtag-name-declarations {
  display: none;
  color: white;
  background-color: lightsalmon;
}

#hashtag-sorted-title {
  background-color: salmon;
  color: white;
}



/*
=====================
Javascript Inline Style Classes
=====================
*/
.js-is-not-displayed {
  display: none;
}

.js-is-displayed {
  display: block;
}

.js-is-italicized {
  font-style: italic;
}

.js-is-bolded {
  font-weight: 800;
}

.js-is-hidden {
  visibility: hidden;
}

.js-is-underlined {
  text-decoration: underline;
}

.js-is-center-aligned {
  text-align: center;
}

.js-inline-block {
  display: inline-block;
}
/*
=====================
Buttons
=====================
*/

.one-more-tweet-button {
  width: 100%;
  height: 50px;
  background-color: royalblue;
  color: white;
  text-decoration: underline;
}
