body a, body button {
  cursor: pointer;
}
h2, h3, h4 {
  margin: 0;
}

body {
  background-color: lightslategray;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: underline;
  color: blue;
}

/*
=====================
Testing Tools
=====================
*/
.test-border-one {
  border: 1px solid black;
  border-radius: 10px;
}

.test-border-two {
  border: 1px dashed blue;
}

.bg-red {
  background-color: red;
}

/*
=====================
Font
=====================
*/

.section-title {
  text-align: center;
  padding: 7.5px 0 10px 0;
  border: 4px solid darkslategray;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}

.margin {
    margin: 10px 0 0 10px;
}

.zero-margin {
  margin: 0;
}

/*
=====================
Custom User Input Section
=====================
*/

input:focus {
  outline: none;
}

.cool-form {
  border: 0;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 0 15px 4px darkslategrey;
  text-align: center;
}

.custom-user-handle {
  text-align: center;
  width: 20%;
  border: 2px solid #2f4f4f;
  border-radius: 10px 0 0 10px;
}
.custom-user-tweet {
  text-align: center;
  width: 60%;
  border: 2px solid #2f4f4f;
}

.color-white::-webkit-input-placeholder {
  color: #FFFFFF;
}

.color-white {
  color: #FFFFFF;
}

.submit-tweet-button {
  width: 15%;
  border: 2px solid #2f4f4f;
  border-radius: 0 10px 10px 0;
}

/*
=====================
Tweet Timeline Section
=====================
*/

.tweet-timeline-container {
  margin-top: 10px;
}
.tweet-timeline-title {
  background-color: royalblue;
  color: white;
  border: 4px solid darkslategray;
  border-bottom: none;
}

.outer-tweet-container {
  border: 4px solid darkslategray;
  border-top: none;
}

.inner-tweet-container p {
  color: #FFFFFF;
  padding: 5px;
  font-size: 18px;
}

.inner-tweet-container a {
  font-size: 18px;
  padding: 5px 0;
}

.inner-tweet-container a:hover {
  color: white;
  font-size: 26px;
}

a.tweet-handle {
   margin: 0;
   padding-left: 10px;
 }

 .hash-handle {
   margin: 0;
 }

 .tweet-timeline-message {
  display: inline-block;
  margin: 0;
}

#otc0 {
  border-top: 4px solid darkslategray;
}
/*-The 11th Tweet-*/
.otc11 {
  display: none;
  background-color: lightslategrey !important;
  border: 4px solid darkslategray;
  border-top: none;
}

#itc11 {
  background-color: rgba(0, 0, 0, 0.2) !important;
  text-align: center;
}

#itc11 p, #itc11 a {
  font-size: 12px;
  color:lightgrey;
  display: inline-block;
}

#itc11 .tweet-time {
  font-size: 10px;
  padding-left: 5px;
}


.section-container.sorted-timeline, .section-container.hashtag-timeline {
  margin-top: 20px;
}

/*
=====================
 Sorted Section
=====================
 */

 /* change to display none */
 .sorted-timeline {
   display: none;
 }

 #sorted-title {
   color: #FFFFFF;
 }

 .sorted-name-timeline {
  display: none;
  background-color: white;
  border: 4px solid darkslategray;
  border-radius: 0 0 10px 10px;
}


.sorted-individual-tweet-container, .sorted-individual-tag-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.empty-sorted-tweet, .empty-sorted-tag {
  height: 40px;
}

.sorted-individual-tweet-container:hover, .sorted-individual-tag-container:hover {
  overflow: visible;
}

.sorted-individual-tweet-container p {
  display: inline-block;
  padding-right: 20px;
}

#tweet-tweet-0 p.sorted-tweet-list-li {
  font-weight: 400;
}

.sorted-timeline {
  border-radius: 10px;
}

.sorted-tweet-list-li, .sorted-tag-list-li {
  font-size: 18px;
  font-style: italic;
  color: white;
  padding: 5px 10px;
  /* border-radius: 10px; */
}

/*Tweet Timeline and Sorted Timeline Date Styling*/
.inner-tweet-container .tweet-time, .tweet-time {
  font-size: 18px;
  margin-left: 25px;
  padding: 5px 10px;
  color: white;
  border-left: none;
  border-right: none;
}

/*
=====================
Hashtag Section
=====================
*/

/* Change to Display: none  */
.hashtag-tweets-container {
  display: none;
  border-radius: 10px;
}

/* Bold The first */
#tag-tweet-0 p.sorted-tag-list-li {
  font-weight: 400;
}
/* Rounds the corners of the last */
#tag-tweet-4, #tweet-tweet-4 {
  border-radius: 0 0 6px 6px;
}

.sorted-individual-tag-container p {
  display: inline-block;
}

/* Change to Display: none */
.hashtag-name-declarations {
  display: none;
  background-color: white;
  border-radius: 0 0 10px 10px;
  border: 4px solid darkslategray;
}

.hashtag-sorted-title {
  display: none;
  background-color: #FA8072;
  color: white;
  border: 4px solid darkslategray;
  border-bottom: none;
}



/*
=====================
Javascript Inline Style Classes
=====================
*/
.js-is-not-displayed {
  display: none;
}

.js-is-displayed {
  display: block;
}

.js-is-italicized {
  font-style: italic;
}

.js-is-bolded {
  font-weight: 800;
}

.js-is-hidden {
  visibility: hidden;
}

.js-is-underlined {
  text-decoration: underline;
}

.js-is-center-aligned {
  text-align: center;
}

.js-inline-block {
  display: inline-block;
}
/*
=====================
Buttons
=====================
*/

.one-more-tweet-button {
  font-size: 18px;
  width: 100%;
  height: 60px;
  background-color: #2F4F4FA6;
  color: white;
  border-radius: 0 0 10px 10px;
  border: 4px solid darkslategrey;
  border-top: none;
  outline: none;
}

.one-more-tweet-button:hover {
  background-color: #4169E1;
  border: 4px solid white;
  font-size: 30px;
}


